{
  "presets": [
    ["@babel/env", {
      "modules": false
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "interactor.js": "./src"
      }
    }],
    ["@babel/proposal-decorators", {
      "legacy": true
    }],
    ["@babel/proposal-class-properties", {
      "loose": true
    }],
    "istanbul"
  ]
}
