.toc {
  align-self: flex-start;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  color: #666668;
  padding: 0 2rem;
  font-size: 0.75rem;
  max-width: 14rem;
  width: 100%;
  position: sticky;
  top: 2rem;

  @media (max-width: 78rem) {
    width: auto;
    padding: 0;
    border-left: none;
    position: absolute;
    right: 5rem;
    top: 3rem;
  }

  @media (max-width: 62rem) {
    right: 10vw;
  }

  ul {
    list-style: none;
    margin: 0;
    width: 100%;
  }

  li {
    margin-bottom: 0.5em;
    width: 100%;
  }

  li > a {
    color: inherit;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: #F0DB50;
    }
  }
}

.toc-toggle {
  color: #AAAAAC;
  appearance: none;
  background: none;
  padding: 0.2em 0.3em 0.1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1;
  display: none;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  @media (max-width: 78rem) {
    display: block;
  }
}

@media (max-width: 78rem) {
  .toc-modal {
    width: 14rem;
    display: none;
    background: white;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem 1rem;
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;

    &.is-open {
      display: block;
    }
  }
}

.toc-header {
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #AAAAAC;

  svg {
    font-size: 1.5em;
    margin-right: 0.325em;
    vertical-align: middle;
  }

  span {
    font-size: 0.825em;
    display: inline-block;
    vertical-align: bottom;
    letter-spacing: 0.125em;
  }
}
