parser: '@babel/eslint-parser'
extends: plugin:react/recommended
settings:
  react:
    version: detect
plugins:
  - babel
rules:
  babel/no-unused-expressions: warn
  no-sequences: off
  no-unused-expressions: off
  prefer-const: off
  promise/param-names: off
  semi: [error, always]
  space-before-function-paren:
    - error
    - anonymous: never
      asyncArrow: always
      named: never
