.header-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
  background: #F0DB50;
  height: 4rem;
  position: relative;
  z-index: 999;
}

.header {
  width: 100%;
  max-width: 80rem;
  padding: 0.5rem 2rem;
  display: flex;

  @media (max-width: 62rem) {
    padding: 0.5rem;

    h1 {
      margin: 0 auto;
    }
  }

  a {
    display: block;
  }

  img {
    height: 3rem;
    display: block;
  }
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  flex: 1;

  a {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 62rem) {
    display: none;
  }
}

.nav-toggle,
.search-toggle {
  display: none;
  border: none;
  appearance: none;
  background: none;
  cursor: pointer;
  margin-right: auto;
  padding: 0.25rem 1rem 0;
  font-size: 1.5rem;
  line-height: 1;

  @media (max-width: 62rem) {
    display: block;
  }
}

.search-toggle {
  margin-right: 0;
  margin-left: auto;
}
